.sliderbar {
  --transition: all 0.3s;
  background: var(--main-color);
  height: 100vh;
  padding: 15px 4px;
  &.open {
    width: 260px;
    transition: var(--transition);
  }
  &.off {
    width: 60px;
    transition: var(--transition);
  }
  &__logo {
    cursor: pointer;
    font-weight: 900;
    color: var(--white-color);
    border-bottom: 1px solid rgba(255, 255, 255, 0.12);
    padding: 0 6px 11px 6px;
    transition: var(--transition);
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
    margin-bottom: 10px;
  }
  &__menu {
    &--item {
      padding: 10px 12px 10px 14px;
      border-radius: 6px;
      margin-bottom: 4px;
      cursor: pointer;
      transition: var(--transition);
      &:hover {
        background-color: var(--hover-white-color);
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
        transition: var(--transition);
      }
      &.bg--hover {
        background-color: var(--hover-white-color);
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
      }
      .left {
        &.open {
          transform: rotate(0);
          transition: var(--transition);
        }
        &.off {
          transform: rotate(-90deg);
          transition: var(--transition);
        }
        svg {
          width: 18px;
          height: 18px;
          path {
            fill: var(--white-color);
          }
        }
      }
      .name {
        color: var(--white-color);
        overflow: hidden;
        font-size: 1.4rem;
        line-height: normal;
        &.open {
          opacity: 1;
          visibility: initial;
          white-space: nowrap;
          transition: var(--transition);
        }
        &.off {
          opacity: 0;
          visibility: hidden;
          display: none;
          transition: var(--transition);
        }
      }
    }
    &--menuSub {
      margin-left: 34px;
      visibility: hidden;
      opacity: 0;
      transition: var(--transition);
      &.active {
        visibility: visible;
        opacity: 1;
        transition: var(--transition) ease-in;
      }
      .item {
        font-size: 1.4rem;
        cursor: pointer;
        border-radius: 6px;
        margin-bottom: 4px;
        color: var(--white-color);
        padding: 10px 16px;
        transition: var(--transition);
        &:hover {
          background-color: var(--hover-white-color);
          box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
          transition: var(--transition);
        }
      }
    }
  }
}
