{
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "~": "./src",
          "components": "./src/components",
          "app": "./src/app",
          "utils": "./src/utils",
          "types": "./src/types",
          "stores": "./src/store",
          "modules": "./src/modules",
          "theme": "./src/themes",
          "assets": "./src/assets",
          "config": "./src/configs",
          "hooks": "./src/hooks",
          "styles": "./src/styles",
          "static": "./src/static",
          "layouts": "./src/layouts",
          "i18n": "./src/i18n"
        }
      }
    ]
  ]
}
