.wrapper__settingTable {
  background-color: var(--white-color);
  padding: 2rem 1rem;
  > div {
    &.title {
      font-size: 1.6rem;
      font-weight: bold;
      color: var(--text-black-color);
    }
    width: 100%;
    &.title__orther {
      background: #e8e8e8;
      border-radius: 0.6rem;
      font-size: 1.4rem;
      font-weight: 500;
      margin: 1.6rem rem 0;
      padding: 1rem;
      text-align: center;
    }
  }
  .dndContext {
    & > div {
      flex: 1;
      width: 100%;
      .item__title {
        border-radius: 0.6rem;
        border: var(--border);
        box-shadow: var(--box-shadow);
        padding: 1rem 1.4rem;
        background: var(--white-color);
        font-size: 1.4rem;
        font-weight: 700;
        color: var(--text-black-color);
        .icon__left {
          padding-bottom: 2.2rem;
        }
        .icon__right {
          width: 2.4rem;
          height: 2.4rem;
        }
      }
    }
  }
}
