.tippy-box {
  max-width: 800px !important;
  .tippy-content {
    padding: 6px !important;
  }
}

.menuSub__header {
  .title {
    padding-bottom: 10px;
    border-bottom: 1px solid var(--hover-white-color);
    .title__name {
      font-size: 1.6rem;
      font-weight: bold;
    }
    svg {
      width: 18px;
      height: 18px;
      path {
        fill: var(--white-color);
      }
    }
  }
  &--content {
    margin: 2px 6px;
    min-width: 180px;
    .title {
      margin-bottom: 4px;
    }
    .item {
      padding: 10px;
      min-width: 140px;
      cursor: pointer;
      transition: all 0.3s;
      line-height: initial;
      &:hover {
        transition: all 0.3s;
        border-radius: 4px;
        background-color: var(--hover-white-color);
      }
      & + .item {
        margin-top: 4px;
      }
    }
  }
}

.wrapper__menu--login {
  .menu {
    gap: 4px;
    min-width: 180px;
    color: var(--black-color);
    &__info,
    &__logout {
      cursor: pointer;
      padding: 6px;
      width: 100%;
      border-radius: 4px;
      transition: all 0.3s;
      &:hover {
        background-color: rgba(var(--main-rgba-color));
        transition: all 0.3s;
        h3 {
          color: var(--main-color);
        }
        .icon {
          svg {
            path {
              fill: var(--main-color);
            }
          }
        }
      }
      img {
        width: 24px;
        height: 24px;
        border-radius: 100%;
      }
      .icon {
        width: 24px;
        height: 24px;
      }
      h3 {
        font-weight: 500;
        font-size: 1.4rem;
        margin-bottom: 0;
      }
    }
  }
}

.wrapper__menu--notifitions {
  padding: 4px;
  .menu {
    width: 420px;
    min-height: 80vh;
    color: var(--black-color);
  }
}

.wrapprer__hoverProductsSales {
  .product__sales {
    width: 280px;
    .image {
      width: 8.6rem;
      height: 8.6rem;
      border-radius: 6px;
      overflow: hidden;
    }
    .info {
      flex: 1;
      height: 8.6rem;
      .name {
        height: 100%;
        word-break: break-word;
        -webkit-line-clamp: 3;
        color: black;
      }
      .price {
        font-size: 1.4rem;
        color: var(--main-color);
        font-weight: 500;
      }
      .qty {
        font-size: 1.2rem;
        color: black;
      }
    }
  }
}

.wrapper__menu--color {
  padding: 4px;
  .wrapper__color {
    width: 160px;
    max-width: 200px;
    .title {
      color: black;
    }
    .wrap {
      .item {
        cursor: pointer;
        width: 24px;
        height: 24px;
        border-radius: 4px;
        background: var(--theme-color);
        &.active {
          svg {
            width: 10px;
            height: 10px;
            path {
              fill: var(--white-color);
            }
          }
        }
      }
    }
  }
}

.wrapper__tippy--viewDetail {
  width: 680px;
  padding: 4px;
  .detail__view {
    font-size: 1.6rem;
    font-weight: 600;
    text-transform: uppercase;
    svg {
      width: 2.8rem;
      height: 2.8rem;
      path {
        stroke: var(--main-color);
      }
    }
  }
  .detail__main {
    .left,
    .right {
      width: calc(100% / 2);
      position: relative;
      .blog__main {
        &:last-child {
          border-bottom: none !important;
        }
      }
    }
    .left {
      &::before {
        content: '';
        position: absolute;
        top: 0;
        right: -8px;
        bottom: 0;
        width: 1px;
        height: 100%;
        background-color: #dde2e9;
      }
    }
    .blog__main {
      border-bottom: var(--border);
      border-bottom-style: dashed;
      border-bottom-width: 0.2rem;
      padding-bottom: 6px;
      label {
        margin-bottom: 0;
        font-size: 1.4rem;
        font-weight: 600;
      }
      span {
        font-weight: 1.2rem;
      }
      & + .blog__main {
        margin-top: 10px;
      }
    }
  }
}

.wrapper__morechat {
  .menu__chat {
    .icon {
      cursor: pointer;
      svg {
        width: 1.8rem;
        height: 1.8rem;
        path {
          fill: #9a9a9a;
          transition: var(--transition);
        }
      }
      &:first-child {
        svg {
          width: 2.4rem;
          height: 2.4rem;
        }
      }
      &:hover {
        path {
          fill: var(--main-color);
          transition: var(--transition);
        }
      }
    }
  }
}
