.tippy-box {
  max-width: 400px !important;
  .tippy-content {
    padding: 10px !important;
  }
}

.menuSub__header {
  .title {
    padding-bottom: 10px;
    border-bottom: 1px solid var(--hover-white-color);
    .title__name {
      font-size: 1.6rem;
      font-weight: bold;
    }
    svg {
      width: 18px;
      height: 18px;
      path {
        fill: var(--white-color);
      }
    }
  }
  &--content {
    margin: 2px 6px;
    .item {
      padding: 10px;
      min-width: 140px;
      cursor: pointer;
      transition: all 0.3s;
      line-height: initial;
      &:hover {
        transition: all 0.3s;
        border-radius: 4px;
        background-color: var(--hover-white-color);
      }
      & + .item {
        margin-top: 4px;
      }
    }
  }
}

.wrapper__menu--login {
  .menu {
    gap: 4px;
    min-width: 180px;
    color: var(--black-color);
    &__info,
    &__logout {
      cursor: pointer;
      padding: 6px;
      width: 100%;
      border-radius: 4px;
      transition: all 0.3s;
      &:hover {
        background-color: rgba(var(--main-rgba-color));
        transition: all 0.3s;
        h3 {
          color: var(--main-color);
        }
        .icon {
          svg {
            path {
              fill: var(--main-color);
            }
          }
        }
      }
      img {
        width: 24px;
        height: 24px;
        border-radius: 100%;
      }
      .icon {
        width: 24px;
        height: 24px;
      }
      h3 {
        font-weight: 500;
        font-size: 1.4rem;
        margin-bottom: 0;
      }
    }
  }
}

.wrapper__menu--notifitions {
  .menu {
    width: 380px;
    color: var(--black-color);
  }
}

.wrapprer__hoverProductsSales {
  .product__sales {
    width: 280px;
    .image {
      width: 8.6rem;
      height: 8.6rem;
      border-radius: 6px;
      overflow: hidden;
    }
    .info {
      flex: 1;
      height: 8.6rem;
      .name {
        height: 100%;
        word-break: break-word;
        -webkit-line-clamp: 3;
        color: black;
      }
      .price {
        font-size: 1.4rem;
        color: var(--main-color);
        font-weight: 500;
      }
      .qty {
        font-size: 1.2rem;
        color: black;
      }
    }
  }
}

.wrapper__menu--color {
  padding: 4px;
  .wrapper__color {
    width: 160px;
    max-width: 200px;
    .title {
      color: black;
    }
    .wrap {
      .item {
        cursor: pointer;
        width: 24px;
        height: 24px;
        border-radius: 4px;
        background: var(--theme-color);
        &.active {
          svg {
            width: 10px;
            height: 10px;
            path {
              fill: var(--white-color);
            }
          }
        }
      }
    }
  }
}
