.isofh-bulk-action {
  background: var(--extra-color-5);
  font-weight: 400;
  left: 0;
  padding: 0.2rem 1.6rem;
  position: absolute;
  top: 0;
  width: 100% !important;
  z-index: 1;
  border-bottom: 1px solid var(--extra-color-20);
  border-radius: 0.8rem 0.8rem 0 0;
  ul {
    width: 100%;
    .select-count {
      font-size: 1.4rem;
      line-height: 2rem;
      letter-spacing: 0.25px;
      color: var(--extra-color-60);
      padding-left: 3.2rem;
      margin-right: 2rem;
      span {
        font-weight: 500;
        margin: 0 3px;
      }
    }
    margin-bottom: 0;

    li {
      svg {
        path {
          fill: var(--extra-color-80);
        }
      }
    }
  }
  &__button {
    position: relative;
    overflow: visible !important;
    .isofh-button {
      overflow: visible !important;
    }
    .popover-container {
      position: absolute !important;
      width: 100%;
      top: 0;
      left: 0;
      .popover__left {
        position: relative !important;
        top: 2.9rem;
        left: 0;
        // transform: translateX(-50%);
      }
    }
    .isofh-button {
      border: 1px solid var(--extra-color-20);
      padding: 0.4rem 0.5rem 0.4rem 0.8rem;
      letter-spacing: 0.25px;
      font-size: 1.4rem;
      line-height: 2rem;
      gap: 0.6rem;
      div {
        color: var(--text-black-75);
        font-weight: var(--fw-400);
        &:first-child {
          position: unset;
        }
      }
      svg {
        fill: var(--text-extra-color);
        color: var(--text-extra-color);
      }
    }
  }
  .popover {
    ul {
      li {
        padding: 0.3rem 1rem;
        white-space: nowrap;
        text-align: left;
      }
    }
  }
  &.has-chevron {
    .select-count {
      padding-left: 10.2rem !important;
      @media screen and (max-width: 1660px) {
        padding-left: 7.4rem !important;
      }
      @media screen and (max-width: 1536px) {
        padding-left: 6rem !important;
      }
    }
  }
}
