.wrapper__createRoles {
  background-color: var(--white-color);
  margin: 0 1rem;
  border-radius: 0.2rem;
  overflow: hidden;
  height: calc(100vh - 11rem);
  border: var(--border);
  > div {
    padding: 1rem;
  }
  section {
    &.manganer {
      height: 100%;
      .label {
        font-size: 1.6rem;
        padding: 0 1rem;
      }
      > div {
        padding: 1rem;
        padding-top: 0;
        main {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          gap: 1rem;
          .manganer__item {
            border: var(--border);
            border-radius: 0.4rem;
            overflow: hidden;
            transition: var(--transition);
            &--header {
              background-color: var(--extra-color-5);
              .icon {
                flex: 1;
                cursor: pointer;
                svg {
                  width: 2rem;
                  height: 2rem;
                  transition: var(--transition);
                  &.on {
                    transform: rotate(-180deg);
                  }
                  &.off {
                    transform: rotate(0);
                  }
                }
              }
            }
            &--subMenu {
              border-top: var(--border);
              display: grid;
              grid-template-columns: repeat(1, 1fr);
              gap: 0.4rem 1rem;
              .subMenu__children {
                .foodApp-checkbox {
                  label {
                    font-weight: 400;
                    font-size: 1.5rem;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
