.wrapper__input {
  height: 100%;
  border-radius: 4px;
  padding: 4px 10px;
  border: 1px solid var(--hover-white-color);
  background-color: var(--white-color);
  position: relative;
  z-index: 1000;
  input {
    outline: none;
    border: none;
    height: 100%;
  }
  .iconSearch {
    svg {
      width: 20px;
      height: 20px;
      path {
        fill: #404040;
      }
    }
  }
  .icon__clear {
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 36px;
    transform: translateY(-50%);
    padding: 4px;
    transition: all 0.3s;
    border-radius: 100%;
    &:hover {
      background: rgba(0, 0, 0, 0.05);
      transition: all 0.3s;
    }
    svg {
      width: 16px;
      height: 16px;
      path: {
        fill: #404040;
      }
    }
  }
}
