.wrapper__productsBuy {
  position: relative;
  height: 100%;
  padding: 10px;
  .header__productsBuy {
    padding: 10px;
    width: 100%;
    position: sticky;
    top: -11px;
    left: 0;
    right: 0;
    background-color: var(--white-color);
    h3 {
      font-size: 1.6rem;
      font-weight: 400;
    }
    .image {
      width: 104px;
      padding-left: 4.4rem;
    }
    .name {
      width: 500px;
    }

    .qty,
    .price,
    .money {
      width: calc(100% / 3);
      text-align: right;
    }
  }
  .item {
    width: 100%;
    padding: 10px;
    border-radius: 0.4rem;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.15);
    &.active {
      border: 1px solid #cacccf !important;
    }
    &:hover {
      .name {
        .menu__hover {
          transition: var(--transition);
          opacity: 1;
        }
      }
    }
    .image {
      width: 6.4rem;
      height: 6.4rem;
      border-radius: 4px;
      overflow: hidden;
    }
    .name {
      width: 502px;
      height: 6.4rem;
      .code {
        font-size: 1.3rem;
        color: var(--extra-color-60);
      }
      .menu__hover {
        opacity: 0;
        cursor: pointer;
        font-size: 1.4rem;
        font-weight: 600;
        color: var(--main-color);
        transition: var(--transition);
      }
    }

    .qty,
    .price,
    .money {
      width: calc(100% / 3);
      text-align: right;
      font-size: 1.6rem;
      .price__after {
        font-size: 1.5rem;
        font-weight: 500;
        opacity: 0.9;
      }
    }
    .qty {
      input {
        width: 100%;
        text-align: right;
        outline: none;
        border: none;
        border-bottom: var(--border);
        border-color: var(--extra-color-60);
        color: var(--main-color);
      }
    }
    .price,
    .money {
      color: var(--main-color);
      font-size: 1.7rem;
      font-weight: 700;
    }
    .icon {
      width: 3.2rem;
      height: 3.2rem;
      cursor: pointer;
      transition: var(--transition);
      &:hover {
        border-radius: 100%;
        background-color: rgba(var(--main-rgba-color));
        transition: var(--transition);
        svg {
          path {
            fill: var(--main-color);
          }
        }
      }
      svg {
        width: 2rem;
        height: 2rem;
        path {
          fill: var(--extra-color-80);
        }
      }
    }
  }
  .wrapper__detailProduct {
    .detailProduct__images {
      width: 380px;
    }
    .detailProduct__info {
      flex: 1;
      .name {
        padding-right: 40px;
      }
      .info__detail {
        &.scroll__foodApp {
          max-height: 84vh;
          padding-right: 6px;
        }
      }
      .group {
        .value {
          width: 120px;
          font-weight: 400;
        }
        .lable {
          flex: 1;
          font-weight: 400;
          &.active {
            font-size: 1.8rem;
            font-weight: 700;
            color: var(--main-color);
            .price-after {
              font-size: 1.6rem;
              color: var(--extra-color-60);
              font-weight: 400;
            }
          }
          &.scroll__foodApp {
            height: 52vh;
            max-height: 52vh;
            border: var(--border);
            padding: 0 4px;
            border-radius: 4px;
          }
        }
      }
    }
  }
}
