.wrapper_compChat {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: var(--main-color);
  box-shadow: var(--box-shadow);
  border-radius: 100%;
  z-index: 100;
  cursor: pointer;
  .icon {
    position: relative;
    padding: 10px;
    svg {
      width: 28px;
      height: 28px;
    }
    .notifiMess {
      position: absolute;
      top: -0.4rem;
      right: -0.4rem;
      width: 2rem;
      height: 2rem;
      background-color: red;
      color: var(--white-color);
      border-radius: 100%;
      font-size: 1.4rem;
    }
  }
  .main__chat {
    position: absolute;
    bottom: calc(100% + 14px);
    right: 0;
    border-radius: 6px;
    padding: 10px;
    width: 75rem;
    max-width: 75rem;
    background-color: var(--white-color);
    color: var(--black-color);
    box-shadow: 0px 6px 16px rgba(var(--main-rgba-color));
    border: var(--border);
    border-color: var(--main-color);
    height: 65vh;
    max-height: 65vh;
    &::before {
      content: '';
      position: absolute;
      top: 100%;
      right: 14px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 8px;
      border-color: var(--main-color) transparent transparent transparent;
      z-index: -1;
    }
    .header__chat {
      font-size: 1.4rem;
      padding-bottom: 10px;
      border-bottom: var(--border);
      &--notifi-qty {
        color: var(--text-black-color);
      }
      .user__chat {
        margin-right: 6px;
        .title {
          line-height: 18px;
          color: var(--text-black-color);
        }
        .name-user {
          svg {
            width: 14px;
            height: 14px;
            path {
              fill: var(--main-color);
            }
          }
          .name {
            line-height: 18px;
            font-weight: 700;
            color: var(--main-color);
          }
        }
      }
      .right {
        .icon__zoomChat,
        .icon__openChat {
          cursor: pointer;
          &:hover {
            svg {
              path {
                fill-opacity: 1;
                fill: var(--main-color);
              }
            }
          }
        }
      }
    }
    .bottom__chat {
      height: calc(100% - 35px);
      &--left {
        padding: 6px 0;
        width: 220px;
        border-right: var(--border);
        height: 100%;
        overflow-y: scroll;
        .left__content {
          cursor: pointer;
          transition: var(--transition);
          border-top-left-radius: 4px;
          border-bottom-left-radius: 4px;
          position: relative;
          &.active {
            background-color: rgba(0, 0, 0, 0.04);
          }
          &:hover {
            transition: var(--transition);
            background-color: rgba(0, 0, 0, 0.04);
          }
          .notifi {
            position: absolute;
            top: 0.4rem;
            left: 0;
            background-color: red;
            width: 1.8rem;
            height: 1.8rem;
            border-radius: 100%;
            color: var(--white-color);
            font-size: 1.2rem;
          }
        }
        .avatar {
          margin-top: 4px;
          width: 32px;
          height: 32px;
          border-radius: 100%;
          overflow: hidden;
        }

        .info {
          flex: 1;
          .time {
            color: var(--extra-color-45);
            font-size: 1rem;
            word-break: break-all;
          }
          .name {
            flex: 1;
            font-size: 1.3rem;
          }
          .content__chat {
            line-height: 14px;
            font-size: 1.2rem;
            color: var(--extra-color-45);
          }
        }
      }
      &--right {
        background-color: #f2f2f2;
        flex: 1;
        width: calc(100% - 22rem);
        height: 100%;
        .title__user {
          width: 100%;
          padding: 6px 10px;
          background-color: var(--white-color);
          border-bottom: var(--border);
        }
        .content {
          overflow-y: auto;
          position: relative;
          width: 100%;
          height: calc(100% - 37px);
          .show {
            padding: 6px;
            .date--notifi {
              margin: 10px 0;
              span {
                padding: 0 10px;
                border-radius: 10px;
                background-color: var(--white-color);
                font-size: 1.2rem;
                color: var(--extra-color-80);
                border: var(--border);
                box-shadow: var(--box-shadow);
              }
            }
            .show__messager {
              &.sender {
                text-align: right;
              }
              .images__send {
                &--image {
                  width: 32.4%;
                  min-width: 10.5rem;
                  height: 10.5rem;
                  position: relative;
                  img {
                    border-radius: 0.4rem;
                    object-fit: cover;
                  }
                }
              }
              .mess {
                font-size: 1.4rem;
                word-break: break-all;
                text-align: left;
              }
              & > div {
                background-color: rgba(var(--main-rgba-color));
                max-width: 70%;
                padding: 6px;
                border-radius: 6px;
                border: var(--border);
                border-color: var(--white-color);
                box-shadow:
                  0 0 1px 0 rgba(9, 30, 66, 0.2),
                  0 1px 1px 0 rgba(9, 30, 66, 0.05);
              }
              .time {
                color: var(--extra-color-45);
                font-size: 1rem;
                line-height: 14px;
              }
            }
            .user__screen {
              width: 1.8rem;
              height: 1.8rem;
              border-radius: 100%;
              overflow: hidden;
              background-color: var(--white-color);
              box-shadow: var(--border);
              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }
          }
          .image__send {
            padding: 1rem;
            padding-bottom: 0;
            background-color: var(--white-color);
            // max-width: 36rem;
            overflow-x: scroll;
            scroll-behavior: smooth;
            &.scroll__foodApp::-webkit-scrollbar {
              height: 0.8rem !important;
            }
            .img,
            .add {
              width: 6rem;
              min-width: 6rem;
              height: 6rem;
              border-radius: 0.6rem;
              overflow: hidden;
              border: 1px dashed #d9d9d9;
              img {
                object-fit: cover;
              }
            }
            .img {
              position: relative;
              .clear-one-img {
                position: absolute;
                display: flex;
                visibility: hidden;
                opacity: 0;
                top: 0;
                right: 0;
                cursor: pointer;
                border-radius: 100%;
                padding: 0.4rem;
                background-color: #666;
                transition: var(--transition);
                svg {
                  width: 0.8rem;
                  height: 0.8rem;
                  path {
                    fill: var(--white-color);
                    transition: var(--transition);
                  }
                }
                &:hover {
                  transform: scale(0.9);
                }
              }
              &:hover .clear-one-img {
                opacity: 1;
                visibility: visible;
                transition: var(--transition);
              }
            }
            .add {
              svg {
                width: 2rem;
                height: 2rem;
                path {
                  fill: #d9d9d9;
                }
              }
            }
            .clear {
              position: absolute;
              top: 0;
              right: 0;
              cursor: pointer;
              background-color: var(--white-color);
              border-radius: 100%;
              svg {
                width: 1.8rem;
                height: 1.8rem;
                path {
                  fill: var(--extra-color-80);
                  transition: var(--transition);
                }
              }
              &:hover {
                svg {
                  transform: scale(0.9);
                  path {
                    fill: var(--main-color);
                    transition: var(--transition);
                  }
                }
              }
            }
          }
          .send {
            position: relative;
            height: 3.8rem;
            > div {
              background-color: var(--white-color);
              border-top: var(--border);
              border-bottom: var(--border);
            }
            .more {
              &:hover {
                path {
                  fill: var(--main-color);
                  transition: var(--transition);
                }
              }
            }
            input {
              outline: none;
              border: none;
              border-left: var(--border);
              padding: 6px;
              font-size: 1.4rem;
              padding-right: 40px;
            }
            .icon__clear {
              position: absolute;
              top: 46%;
              right: 52px;
              transform: translateY(-50%);
              cursor: pointer;
              transition: var(--transition);
              border: none;
              &:hover {
                svg {
                  path {
                    transition: var(--transition);
                    fill: var(--main-color);
                  }
                }
              }
              svg {
                width: 18px;
                height: 18px;
              }
            }
            .icon {
              position: relative;
              background-color: var(--white-color);
              border: var(--border);
              height: 100%;
              padding: 0 10px;
              transition: var(--transition);
              &.active {
                svg {
                  path {
                    fill-opacity: 1;
                    fill: var(--main-color);
                  }
                }
              }
              &:hover {
                background-color: rgba(var(--main-rgba-color));
                svg {
                  path {
                    fill-opacity: 1;
                    fill: var(--main-color);
                    transition: var(--transition);
                  }
                }
              }
              svg {
                width: 20px;
                height: 20px;
              }
            }
          }
          .scroll--bottom {
            cursor: pointer;
            position: absolute;
            width: 32px;
            height: 32px;
            border-radius: 100%;
            bottom: 60px;
            right: 12px;
            box-shadow: var(--box-shadow);
            border: var(--border);
            background-color: var(--white-color);
            transition: var(--transition);
            &:hover {
              background-color: var(--main-color);
              transition: var(--transition);
              svg {
                path {
                  fill: var(--white-color);
                  transition: var(--transition);
                }
              }
            }
            svg {
              path {
                fill: var(--main-color);
              }
            }
          }
        }
      }
    }
  }
}
