.wrapper__table {
  border: var(--border);
  overflow-y: hidden;
  overflow-x: scroll;
  height: calc(100% - 68px);
  .table {
    width: 100%;
    table-layout: fixed;
    &.table__header {
      tr {
        th {
          background-color: #f7f7f7;
          border-bottom: var(--border);
        }
      }
    }
    tr {
      th,
      td {
        padding: 6px 10px;
        background-color: var(--white-color);
        &.actions {
          &.scroll-Table {
            background-color: var(--white-color);
            position: absolute;
            right: 0;
            box-shadow: var(--box-shadow);
            min-width: 150px;
          }
          svg {
            cursor: pointer;
            width: 2rem;
            height: 2rem;
            path {
              fill: var(--main-color);
            }
          }
        }
      }
    }
  }
}
