.wrapper__imagas {
  width: 100%;
  position: relative;
  .image {
    width: 100%;
    height: 36rem;
    background: var(--extra-color-5);
  }
  .images {
    height: 9rem;
    .img {
      &__0,
      &__1,
      &__2,
      &__3 {
        background-color: var(--extra-color-5);
        cursor: pointer;
        width: calc(100% / 4);
        height: 100%;
        box-shadow: var(--box-shadow);
        border: var(--border);
        border-radius: 4px;
        overflow: hidden;
        &.active {
          border-color: var(--main-color);
        }
      }

      &__0:hover ~ .image__hover--0 {
        transition: var(--transition);
        opacity: 1;
        z-index: 100;
      }
      &__1:hover ~ .image__hover--1 {
        transition: var(--transition);
        opacity: 1;
        z-index: 100;
      }
      &__2:hover ~ .image__hover--2 {
        transition: var(--transition);
        opacity: 1;
        z-index: 100;
      }
      &__3:hover ~ .image__hover--3 {
        transition: var(--transition);
        opacity: 1;
        z-index: 100;
      }
    }
    .image__hover {
      &--0,
      &--1,
      &--2,
      &--3 {
        position: absolute;
        top: 0;
        right: -102%;
        width: 100%;
        height: 36rem;
        box-shadow: var(--box-shadow);
        border: var(--border);
        overflow: hidden;
        transition: var(--transition);
        opacity: 0;
        z-index: -100;
      }
    }
  }
}
