.app__food {
  .main__app {
    flex: 1;
    &.open {
      width: calc(100% - 260px);
    }
    &--content {
      // padding: 10px 0;
      height: calc(100vh - 50px);
      position: relative;
      overflow-x: hidden;
      overflow-y: auto;
      background: #ebeef2;
      // padding: 0 10px;
      .header__main {
        padding: 10px;
        &.sticky {
          top: 0px;
        }
      }
    }
  }
}
