.app__food {
  .main__app {
    flex: 1;

    &--content {
      padding: 10px;
      height: calc(100vh - 50px);
      position: relative;
      overflow-x: hidden;
      overflow-y: auto;
      background: #ebeef2;
    }
  }
  .wrapper__chat {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: var(--main-color);
    box-shadow: var(--box-shadow);
    border-radius: 100%;
    z-index: 100;
    cursor: pointer;
    .icon {
      padding: 10px;
      svg {
        width: 28px;
        height: 28px;
      }
    }
  }
}
