.app__food {
  .main__app {
    flex: 1;
    &--content {
      padding: 20px;
      height: calc(100vh - 50px);
      position: relative;
      overflow-x: hidden;
      overflow-y: auto;
      background: #ebeef2;

      &::-webkit-scrollbar {
        width: 6px;
        height: 10px;
      }
      &::-webkit-scrollbar-thumb {
        background-color: var(--main-color);
        border-radius: 6px;
        cursor: pointer;
      }
      &::-webkit-scrollbar-track {
        background-color: rgba(255, 255, 255, 0.2);
      }
      &::-webkit-scrollbar-track {
        background: #fff;
      }
    }
  }
  .wrapper__chat {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: var(--main-color);
    box-shadow: var(--box-shadow);
    border-radius: 100%;
    z-index: 100;
    .icon {
      cursor: pointer;
      svg {
        width: 28px;
        height: 28px;
      }
    }
  }
}
